.hello-world {
    display: block;

    height: 100vh;
    background: url("https://pcad.edu/wp-content/uploads/2014/07/fd1042014.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px #f30f0d, 3px 3px #ff109b, 4px 4px #3d71ff, 5px 5px #fff048, 6px 6px #525356
}
