.wrapper-bg {
    background-image: url(../img/bgi-journey.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

/*============HEADER================*/
.h-journey {
    width: 100%;
    background-color: #00000050;
}

/*--------navbar----------*/
.h-navbar {
    padding: 20px 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h-navbar-link-logo:hover {
    color: #3cb878;
}

.h-navbar-link-logo {
text-transform: uppercase;
font-size: 20px;
font-weight: 700;
color: #ffffff;
text-decoration: none;
}

.h-logo-link-title {
display: block;
}

/*занес боковые отступы через псевдокласс*/
.h-navbar-link:nth-child(2n) {
margin: 0 28px;
}

.sprite {
background: url("../img/sprite-journey.png");
display: inline-block;
vertical-align: middle;
}

.sprite.calendar {
background-position: 0 0;
width: 19px;
height: 19px;
}

.calendar:hover {
background-position: 0 -24px;
}

.sprite.forum {
background-position: 0 -123px;
width: 28px; height: 20px;
}

.forum:hover {
background-position: 0 -148px;
}

.sprite.compass {
background-position: 0 -48px;
width: 20px;
height: 20px;
}

.compass:hover {
background-position: 0 -73px;
}

.h-navbar-authorization {
display: inline-block;
color: #ffffff;
padding-left: 50px;
}

.standard-cell-link {
text-decoration: none;
color: #3cb878;
}

/*========MAIN=======*/
.main-journey {
    display: flex;
    align-items: center;
    align-content: end;
    width: 100%;
    height: calc(100% - 60px);
    justify-content: center;
    color: #434343;

}

.main-block-form {
    margin: 33px;
    padding: 30px 60px 30px;
    width: 444px;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.green-square {
    position: absolute;
    top: 30px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
}

.social {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
align-content: center;
}

.sign-up {
font-size: 20px;
text-transform: capitalize;
margin:0 70px 15px 0;
}


.social-white-text {
    width: 110px;
    line-height: 23px;
    text-align: center;
}

.social-link {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 9px 0;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
}

.social-icon-wrapper {
    width: 50px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #00000050;
}

.facebook {
    background-color: #305db8;
}

.fb-icon {
    display: inline-block;
    width: 10px;
    height: 20px;
    background: url("../img/sprite-journey.png") no-repeat;
    background-position: 0 -98px;
    text-align: center;
}

.google {
    background-color: #df4a32;
}

.google-icon {
    display: inline-block;
    width: 25px;
    height: 16px;
    background: url("../img/sprite-journey.png") no-repeat;
    background-position: 0 -173px;
}

.altenative {
    padding: 33px 0 18px;
    text-align: center;
    overflow: hidden;
    color: #949494;
}

.altenative:before,
.altenative:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    border: solid #ffffff;
    border-width: 0 20px;
    background-color: #eaeaea;
}

.altenative:before {
   margin-left: -100%;
}

.altenative:after {
    margin-right: -100%;
}

.textfield {
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    border-radius: 3px  ;
    color: #434343;
}

.textfield::placeholder {
    color: #d8d8d8;
}

.textfield:focus {
    outline: none;
    border:1px solid #eaeaea;
    box-shadow: 0 2px 4px #eaeaea, 0 4px 6px #eaeaea;
}

.checkbox {
    display: block;
    margin: 10px 0px;
}

.create-account {
    display: block;
    width: 100%;
    height: 46px;
    line-height:46px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3cb878;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
/*======OTHER=========*/