
/*============HEADER===========================*/
.header-ramda {
    width: 1280px;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*---Текст логотипа не прислоняется вплотную к левой границе----*/
.header-logo-link {
    font-size: 80px;
    text-decoration: none;
    color: #000000;
}

.header-logo {
    display: inline-block;
    margin: 50px 0;
    padding: 0;
}

.blue-text {
    color: #4bcaff;
}

/*============Header-menu===========*/

.header-menu {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: #35444f;
}

.header-menu-item {
    display: inline-block;
}

.header-menu-link {
    display: inline-block;
    padding: 26px 45px;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
}

.header-link-hover {
    background-color: #222f3a;
    margin: 0;
    display: inline-block;
    padding: 25px 44px;
    border:  1px solid #818181;
}
/*при наведении соседние блоки отъезжают в стороны. Думаю это из-за border`a. Не понимаю как убрать такой эффект. */
.header-menu-link:hover {
    background-color: #222f3a;
    display: inline-block;
    padding: 25px 44px;
    box-sizing: border-box;
    border:  1px solid #818181;
}


/*============MAIN========================*/

.main-ramda {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1280px;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*============Main-menu===========*/
.main-menu {
    margin-right: 48px;
    display: inline-block;
    width: 345px;
    border: 1px solid #35444f;
}

.main-menu-item {
    list-style-type: none;
}

.main-menu-link {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0 30px 45px;
}


.main-menu-link {
    font-size: 29px;
    color: #485863;
    text-decoration: none;
}

.main-link-hover {
    background-color: #dbdbdb;
    padding-left: 70px;
    color: #000000;
}

.main-menu-link:hover {
    background-color: #dbdbdb;
    padding-left: 70px;
    color: #000000;
}

/*=========Main-content=========*/

.main-content {
    display: inline-block;
    vertical-align: top;
    width: 885px;
    box-sizing: border-box;
}

.main-container-img {
    margin-bottom: 50px;
    width: 100%;
    border: 1px solid #35444f;
    box-sizing: border-box;
    text-align: center;
}

.main-img {
    display: block;
    margin: 0 auto;
    padding: 75px 0;
    width: 320px;
}

/*Увеличение картинки при наведении не делал.*/

.main-text {
    margin: 30px auto 0;
    width: 820px;
    box-sizing: border-box;
    font-size: 18px;
    color: #2c2c2c;
}


/*============FOOTER===========*/

.footer-ramda {
    padding: 25px 40px;
    width: 1280px;
    box-sizing: border-box;
    background-color: #b4b7ba;
    font-family: sans-serif;
}

/*============Footer-menu===========*/

.footer-menu {
    display: inline-block;
    margin-right: 120px;
}
.footer-menu-item {
    display: inline-block;
    margin-right: 20px;
}

.footer-menu-link {
    font-size: 28px;
    color: #0c1927;
    text-decoration: none;
}

.footer-copyright {
    display: inline-block;
    font-size: 24px;
    color: #010101;
}

.footer-link-hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}

.footer-menu-link:hover {
    color: #3181a6;
    border-bottom: 2px solid #3181a6;
}
