.hello-world {
    display: block;

    height: 100vh;
    background: url("https://vmasshtabe.ru/wp-content/uploads/2013/05/106975-vms-Filtr.png") no-repeat;
    background-position: center;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    text-transform: uppercase;
    color: #FFFFFF;;
    text-shadow: 0px 0px #000000, 1px 0px #000000, 0px 2px #000000;
}
