.table {
    border: 22px solid #3a4965;
    border-collapse: collapse;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: #484848;
}

.row-height-thead {
    background-color: #fafafa;
}

.tr-title {
    font-weight: 700;
}

.table-data {
    width: 277px;
    height: 70px;
    vertical-align: middle;
}
.table-data-item {
    width: 310px;
    vertical-align: middle;
}

.table-data, .table-data-item {
    border-right: 2px solid #dadada;
}

.title{
    font-size: 28px;
}

.td-title {
    border: none;
    color: #ffffff;
}

.standard-title {
    background-color: #89c331;
}

.ultimate-title {
    background-color: #f04a56;
    font-size: 30px;
}

.premium-title {
    background-color: #20807c;
}

.price-dollar {
    display: inline-block;
    font-weight: 700;
    font-size: 60px;
    color: #484848;
}

.price-dollar:before {
    content: '$';
}

.price-cent-wrapper {
    display: inline-block;
    text-align: left;
    vertical-align: super;
}

.price-cent {
    margin-right: 52px;
    font-weight: 700;
    font-size: 24px;
}

.row-height:nth-child(odd) {
    background-color: #f2f2f2;
}

.row-height:nth-child(even) {
    background-color: #e3e3e3;
}

.fas, .far {
    margin-right: 12px;
}

.buttons-links {
    padding: 30px 0;
}


.pricing-cell {
    background-color: #dddddd;
}

.standard-cell {
    background-color: #eeeeee;
}

.ultimate-cell {
    background-color: #f4f4f4;
}

.premium-cell {
    background-color: #eeeeee;
}

.td-link {
    display: inline-block;
    width: 190px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
}

.td-link:hover {
    box-shadow: 0 14px 28px #00000022, 0 10px 10px #00000022;
}

.pricing-cell-link {
    background-color: #484848;
    border-bottom: 9px solid #404040;

}

.standard-cell-link {
    background-color: #89c331;
    border-bottom: 9px solid #79b027;
}

.ultimate-cell-link {
    background-color: #f04a56;
    border-bottom: 9px solid #df3a46;
}

.premium-cell-link {
    background-color: #20807c;
    border-bottom: 9px solid #16736f;
}