/*================ GLOBAL ================*/
.architect-wrapper {
  width: 100%;
  font-size: 14px;
  font-family: 'Open Sans', 'Fira Mono', monospace, sans-serif;
  letter-spacing: 0.03em; }

.container {
  margin: 0 auto;
  width: 1160px;
  text-align: center; }

.paralax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.title {
  font-weight: 700;
  font-size: 27px;
  color: #FFFFFF;
  text-transform: uppercase; }

.bluetext {
  color: #18b4cf; }

.green-btn {
  background-color: #89ca62; }

.blue-btn {
  background-color: #14b9d5; }

/*================ HEADER ================*/
.architect-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1d2124;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff; }

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-logo-img {
    padding: 22px;
    width: 27px;
    height: 27px;
    background-color: #1a1d20; }
  .header-logo-title {
    font-size: 22px;
    text-transform: capitalize; }
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 700px; }
  .header-nav-item {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff; }
    .header-nav-item:hover {
      color: #18b4cf; }
.header-search-btn {
  width: 70px;
  height: 70px;
  background-color: #1a1d20;
  text-align: center;
  line-height: 70px; }
  .header-search-btn:hover {
    color: #18b4cf; }

/*================ SECTION NEWS ================*/
.news {
  padding-top: 127px;
  padding-bottom: 145px;
  background-image: url(../img/background-parallax/homework6_img_header-bg.jpeg); }
  .news-title {
    padding-bottom: 45px;
    font-weight: 400; }
  .news-wrap {
    display: inline-block; }
    .news-wrap-btn {
      display: inline-block;
      width: 170px;
      height: 55px;
      border-radius: 5px;
      font-size: 18px;
      color: #FFFFFF;
      font-weight: 700;
      text-transform: capitalize;
      text-decoration: none;
      line-height: 55px; }
      .news-wrap-btn:first-child {
        margin-right: 20px; }
      .news-wrap-btn:hover {
        color: #1d2124;
        box-shadow: 0 5px 0 #1d2124; }

/*================ SECTION POSTS ================*/
.posts {
  background-color: #f2f2f2; }
  .posts-vertical-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end; }
  .posts-title {
    padding: 50px 0; }
  .posts-gallery {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px; }
    .posts-gallery-card {
      padding-bottom: 30px;
      width: 370px; }
      .posts-gallery-card-title {
        padding: 20px 0;
        background-color: #fff;
        text-align: center;
        font-weight: 700; }

/*================ SECTION CLIENTS ================*/
.clients {
  padding: 200px 0;
  background-image: url(../img/background-parallax/homework6_img_parallax-bg.jpeg); }
  .clients-title {
    padding-bottom: 120px;
    position: relative;
    font-size: 32px; }
    .clients-title:after {
      content: '';
      display: block;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 55px;
      width: 60px;
      height: 3px;
      position: absolute;
      background-color: #18b4cf; }
  .clients-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-align: -webkit-center;
    align-items: center; }

/*================ SECTION TOP-RATED ================*/
.top-rated-title {
  padding: 55px 0; }
.top-rated-gallery {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 270px); }

/*================ SECTION HOT-NEWS ================*/
.hot-news-title {
  padding: 60px 0 50px; }
.hot-news-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "card-1 card-1 card-1 card-2" "card-3 card-3 card-4 card-4" "card-5 card-5 card-6 card-6" "card-7 card-8 card-8 card-8";
  padding-bottom: 70px; }

.card-wrap {
  text-align: right; }
  .card-wrap-title {
    font-size: 18px;
    font-weight: 700; }

.card-1 {
  grid-area: card-1; }

.card-2 {
  grid-area: card-2; }

.card-3 {
  grid-area: card-3; }

.card-4 {
  grid-area: card-4; }

.card-5 {
  grid-area: card-5; }

.card-6 {
  grid-area: card-6; }

.card-7 {
  grid-area: card-7; }

.card-8 {
  grid-area: card-8; }

.card-1, .card-8 {
  display: flex;
  height: 260px; }
  .card-1 .card-wrap, .card-8 .card-wrap {
    display: block;
    box-sizing: border-box;
    padding: 40px 25px;
    width: 100%; }
    .card-1 .card-wrap-title, .card-8 .card-wrap-title {
      padding-bottom: 22px; }

.card-3, .card-4, .card-5, .card-6 {
  display: flex;
  flex-direction: column;
  width: 555px; }
  .card-3 .card-img, .card-4 .card-img, .card-5 .card-img, .card-6 .card-img {
    height: 260px;
    width: 100%; }
  .card-3 .card-wrap, .card-4 .card-wrap, .card-5 .card-wrap, .card-6 .card-wrap {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%; }
    .card-3 .card-wrap-title, .card-4 .card-wrap-title, .card-5 .card-wrap-title, .card-6 .card-wrap-title {
      padding-bottom: 22px; }

.card-2, .card-7 {
  display: flex;
  flex-direction: column;
  height: 260px;
  width: 277px; }
  .card-2 .card-wrap-title, .card-7 .card-wrap-title {
    padding: 15px 0;
    text-align: center; }

.card-wrap {
  background-color: #f9f7f7; }
  .card-wrap-title {
    color: #353a3d; }
  .card-wrap-text {
    color: #666e72; }

/*================ FOOTER ================*/
.architect-footer {
  background-color: #1d2124; }
  .architect-footer-text {
    color: #FFFFFF;
    font-size: 13px;
    text-align: left; }
  .architect-footer-logo {
    text-align: right; }

/*================ FOOTER ================*/
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0; }

/*================ UpButton ================*/
.anchor-links {
  padding: 20px;
  background-color: #101c1f; }
  .anchor-links-nav-item {
    color: #f2f2f2;
    text-decoration: none;
    padding-right: 15px;
    font-weight: 700; }

/*================ UpButton ================*/
.top-button {
  display: none;
  position: fixed;
  width: 100px;
  height: 50px;
  bottom: 50px;
  left: 70px;
  text-align: center;
  cursor: pointer;
  background: #18b4cf;
  font-family: sans-serif;
  line-height: 50px;
  border-radius: 20px;
  opacity: 0.75; }

.top-button:hover {
  opacity: 1;
  color: #f2f2f2;
  background: #1390A5; }

/*# sourceMappingURL=style.css.map */
