

/*Затемнил фоновое изoбражение с помощью линейного градиента.
в свойстве background no-repeat не работает, поэтому вынес его в отдельное св-во background-repeat*/
.background-mh {
    background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../img/background@1X.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.wrapper-mh {
    width: 1065px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
}

/*===========Header Block============*/
.header-mh {
    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 45px;
    width: 100%;
}

.header-logo-link {
    float: left;
    text-decoration: none;
    color: #ffffff;
}

.header-logo-icon {
    display: inline-block;
    width: 46px;
    height: 44px;
    background: url('../img/Milan_holidays-logo.png') no-repeat;
}

.house-position {
    background-position: 0 0;
}

.header-logo-text {
    display: inline-block;
    width: 100px;
    font-size: 18px;
    font-weight: 700;
}

/*меняю размер слова Milan через псевдоэлемент*/
.header-logo-text:first-line {
    font-size: 29px;
}

.header-logo-link:hover .header-logo-text {
    color: #f26522;
}

/*Меняю картинку при наведении с помощью спрайта*/
.header-logo-link:hover .house-position {
    background-position: 0 -44px;
}

/*выровнял контакты по нижней линии Milan Holidays*/
.header-contact-mh {
    float: right;
    margin-top:11px;
    width: 220px;
    text-align: right;
}

.header-email {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

.header-phone {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

/*===========Main Block============*/
.main-mh {
    width: 100%;
}

.main-card {
    float: left;
    box-sizing: border-box;
    margin-bottom: 37px;
    width: 310px;
}

/*позиционирую карточки по горизонтали с помощью псевдокласса nth-child*/
.main-card:nth-child(3n) {
    float: right;
}

/*Карточки посередине имеют боковой margin*/
.main-card:nth-child(3n-1) {
    margin: 0 66px 37px 66px;
}

/*Добавил эффект затемнения рамки*/
.main-card:hover {
    border-image: linear-gradient(0deg, #f26522,#f26522) 4;
}

.main-card-link {
    text-decoration: none;
    color: #ffffff;
}

.main-animatoin {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    border: 4px solid;
    border-image: linear-gradient(45deg, #ffffff 25%,#f26522) 4;
    box-sizing: border-box;
}

.main-price {
    position: absolute;
    bottom: -81px;
    width: 310px;
    height: 60px;
    background-color: #f26522;
    transition: linear 0.2s;
}

.main-card-link:hover .main-price {
    bottom:0;
    display: block;
}

.main-price-from {
    position: absolute;
    top: 18px;
    left: 21px;
    font-size: 10px;
}

.main-price-cost{
    position: relative;
    float: left;
    margin-top: 31px;
    margin-left: 21px;
    font-size: 20px;
}

.main-price-cost:before {
    content: '€';
}

.main-price-details {
    float: right;
    margin-top: 35px;
    margin-right: 18px;
    font-size: 14px;
}

.main-price-details:after {
    content: '>';
    margin-left: 15px;
}

.card-text {
    display: block;
    text-align: center;
    padding: 20px 0;
}

.main-card-link:hover .card-text {
    color: #f26522;
}

/*===========Footer Block============*/
.footer-mh {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 100%;
}

.footer-text {
    text-align: center;
    font-size: 12px;
}

 /*============other==========*/
.clearfix {
    content: '';
    display: table;
    clear: both;
}