.wrapper-input {
    display: block;
    width: 255px;
    background-color: black;
    padding: 20px;
}

.label-price {
    color: #fff;
    font-size: 24px;
}

.input-price:focus {
box-sizing: border-box;
border: 2px solid green;
outline: none;
}


.price-dublicate {
    display: none;
    margin-bottom: 5px;
    width: 255px;
    border: 1px solid black;
    border-radius: 5px;
}

.label-price {
    padding-right: 15px;
}