.hello-world {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 320px;
    width: 520px;
    border-radius: 25px;
    background: linear-gradient(to top left, #daac3b, #3835da );
    box-shadow: 0 20px 20px #30da77, 0 40px 40px #30da77;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #30da77;
    text-shadow: 2px 2px #F3E7CF, -2px -2px #56433D;
}
